
Temp/UnityLockfile
Library/ArtifactDB
Library/Artifacts/06/06720b713461c95e597fbfea6989d4ec
Library/Artifacts/1c/1ca3a77f8c9e5a2bfcc4d4ca707e03bf
Library/Artifacts/1e/1e40454fb6a4b075eb918f60bba5ba85
Library/Artifacts/30/301d76d1cb8e286dc48d7b1a382506b4
Library/Artifacts/37/37b50ecfd2b13f227bc3f758d2680328
Library/Artifacts/3f/3f91b0dfead76691c9ec07799e6bb7ee
Library/Artifacts/45/451a2dd0ed5eb53315b80e55b648148a
Library/Artifacts/5b/5bef228a5c81a06cab08500df7a1101d
Library/Artifacts/5c/5c2e4e1c2c077adccd780f01bba9aa8e
Library/Artifacts/66/6687eb6419f884946b61c6f2fd60c0a2
Library/Artifacts/68/681722099a0570b1d670cf84ff10cfc1
Library/Artifacts/69/69a2e97d185729d491e67a95a297efb0
Library/Artifacts/91/916987b3528d77a71506a51fbd34a2dc
Library/Artifacts/91/91e907185aedfff86222d66256c0a4ad
Library/Artifacts/aa/aac359c872ce35de9900a772f1cb867e
Library/Artifacts/b0/b0e71f1b710129d047332888c36969ae
Library/Artifacts/b4/b4439ad344b003a4b61fd40234404951
Library/Artifacts/b5/b56557f8ec4fb9a963f4ba17deae9a7c
Library/Artifacts/ba/ba01728611878acb43d1cbb329de75af
Library/Artifacts/ca/cac9c07a927397dab7ce9aadcbd35329
Library/Artifacts/ce/cea883a36bfc78f9ab07bb52ebe42284
Library/Artifacts/df/df81f4a3885736fc372ba41e751ed77d
Library/Artifacts/f0/f061cf1912658ecc54f317c4ccbfcf50
Library/Bee/1900b0aE.dag_fsmtime
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.dll
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.pdb
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.ref.dll
Library/Bee/profiler.json
Library/Bee/tundra.digestcache
Library/Bee/tundra.log.json
Library/Bee/TundraBuildState.state
Library/Bee/TundraBuildState.state.map
Library/CurrentLayout-default.dwlt
Library/EditorInstance.json
Library/EditorUserBuildSettings.asset
Library/expandedItems
Library/InspectorExpandedItems.asset
Library/LastSceneManagerSetup.txt
Library/SceneVisibilityState.asset
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/Search/transactions.db
Library/ShaderCache/EditorEncounteredVariants
Library/SourceAssetDB
Library/StateCache/MainStageHierarchy/ed/edf88d76cd74e5d53182efd1e8e9519e.json
Library/StateCache/SceneView/3c/3cd4f263e40f34b2e6de383e8486b273.json
Logs/AssetImportWorker0.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
ProjectSettings/EditorBuildSettings.asset
Temp/__Backupscenes/0.backup
Temp/workerlic
UserSettings/Search.settings
